.modalCheckbox {
	display: flex;
	gap: 9px;
	position: relative;
}

.modalCheckbox__label {
	position: relative;
	padding-left: 33px;
	margin: 0 auto;
	font-family: $neue;
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	color: $white;

	&::before {
		content: '';
		width: 24px;
		height: 24px;
		background-color: $black;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		border-radius: 100%;
	}
}

.modalCheckbox__input:checked + .modalCheckbox__label {
	color: $yellow;
}

.modalCheckbox__input:checked + .modalCheckbox__label::after {
		content: '';
		width: 12px;
		height: 12px;
		background-color: $yellow;
		position: absolute;
		top: 50%;
		left: 12px;
		transform: translate(-50%, -50%);
		border-radius: 100%;
}

.modalCheckbox--alignLeft {
	.modalCheckbox__label {
		margin-left: 0;
		margin-right: 0;
	}
}
