.resetBtn{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4px;
	background: none;
	border: none;
	color: $white;
	text-align: center;
	font-family: $ttc;
	font-weight: 700;
	font-size: 13px;
	line-height: 150%;
	text-transform: uppercase;
	padding: 7px 3px;
}
