.modalBtn {
	display: flex;
	align-items: center;
	gap: 10px;
	font-family: $ttc;
	font-weight: 700;
	font-size: 13px;
	line-height: 150%;
	color: $black;
	background-color: $yellow;
	padding: 6px 8px 6px 20px;
	border-radius: 40px;
	text-transform: uppercase;
	justify-content: space-between;
	text-decoration: none;
	border: none;

	&--white {
		background-color: $white;
	}
}
