extends ../layouts/empty.pug

block variables 
	- var title = 'Регистрация'

block content
	.modalOverlay.modalOverlay--visible

	.modal.modal--wide.modal--visible
		.modal__header
			.modal__headerTitle Регистрация

		.modal__body.modal__body--withBorder
			button(type="button" aria-label="Закрыть").modal__close
				<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0,0,256,256">
					<g fill="#ffec69" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(9.84615,9.84615)"><path d="M21.73438,19.64063l-2.09766,2.09375c-0.38281,0.38672 -1.00781,0.38672 -1.39453,0l-5.24219,-5.23828l-5.23828,5.23828c-0.38672,0.38672 -1.01562,0.38672 -1.39844,0l-2.09766,-2.09375c-0.38672,-0.38672 -0.38672,-1.01172 0,-1.39844l5.23828,-5.24219l-5.23828,-5.23828c-0.38281,-0.39062 -0.38281,-1.01953 0,-1.39844l2.09766,-2.09766c0.38281,-0.38672 1.01172,-0.38672 1.39844,0l5.23828,5.24219l5.24219,-5.24219c0.38672,-0.38672 1.01563,-0.38672 1.39453,0l2.09766,2.09375c0.38672,0.38672 0.38672,1.01563 0.00391,1.40234l-5.24219,5.23828l5.23828,5.24219c0.38672,0.38672 0.38672,1.01172 0,1.39844z"></path></g></g>
				</svg>
			form(action="#").modal__content.registrationModal
				.registrationModal__grid.registrationModal__grid--3
					include ../blocks/modalField/modalField.pug
					+modalField([], 'registrationModal__field', 'Полное имя', 'password', 'registrationName', 'registrationName', 'ФИО', '*')
					+modalField([], 'registrationModal__field phoneInput', '+7 (999) 999-99-99', 'tel', 'registrationPhone', 'registrationPhone', 'Телефон', '*')
					+modalField(['error'], 'registrationModal__field', 'Введите почту', 'email', 'registrationEmail', 'registrationEmail', 'Email', '*')
					
				.registrationModal__grid.registrationModal__grid--2
					include ../blocks/filterSelect/filterSelect.pug
					- 
						var selects = [
							{
								'id': 'select1',
								'name': 'select1',
								'title': '',
								'defaultOption': 'Страна',
								'options': ['Опция 1', 'Опция 2', 'Опция 3']
							},
							{
								'id': 'select2',
								'name': 'select2',
								'title': '',
								'defaultOption': 'Регион / Область',
								'options': ['Опция 1', 'Опция 2', 'Опция 3']
							},
							{
								'id': 'select3',
								'name': 'select3',
								'title': '',
								'defaultOption': 'Город',
								'options': ['Опция 1', 'Опция 2', 'Опция 3']
							},
							{
								'id': 'select4',
								'name': 'select4',
								'title': '',
								'defaultOption': 'Клуб',
								'options': ['Опция 1', 'Опция 2', 'Опция 3']
							},
							{
								'id': 'select5',
								'name': 'select5',
								'title': '',
								'defaultOption': 'Выберите дисциплину',
								'options': ['Опция 1', 'Опция 2', 'Опция 3']
							},
							{
								'id': 'select6',
								'name': 'select6',
								'title': '',
								'defaultOption': 'Выбрать турнир',
								'options': ['Опция 1', 'Опция 2', 'Опция 3']
							}
						]
					for select in selects
						+filterSelect([], 'registrationModal__select', select)

				.registrationModal__block
					.registrationModal__blockHeading Знаете ли вы о том, как поучаствовать в турнире?
					.registrationModal__radios
						- 
							var radios = [
								{
									'id': 'radio1',
									'name': 'radio1',
									'label': 'Все знаю, помощь не нужна'
								},
								{
									'id': 'radio2',
									'name': 'radio1',
									'label': 'Нет аккаунта на Faceit, Battlefy, и др.'
								},
								{
									'id': 'radio3',
									'name': 'radio1',
									'label': 'Есть аккаунт Faceit, не знаю как создать команду /вступить в турнир'
								}
							]
						include ../blocks/filterRadio/filterRadio.pug
						+filterRadio(['smallGap'], 'registrationModal__radio', '', radios)

				.registrationModal__grid.registrationModal__grid--2
					+modalField([], 'registrationModal__field', 'Введите  никнейм', 'text', 'registrationNickname', 'registrationNickname', 'Никнейм Battlefye')
					+modalField([], 'registrationModal__field', 'Название команды', 'text', 'registrationTeam', 'registrationTeam', 'Название команды')

				.registrationModal__checkboxes
					include ../blocks/modalCheckbox/modalCheckbox.pug
					+modalCheckbox(['alignLeft'], 'registrationModal__checkbox', 'Я согласен (-а) с политикой конфиденциальности в отношении обработки пользовательских данных', 'agreement')
					+modalCheckbox(['alignLeft'], 'registrationModal__checkbox', 'Я даю согласие на обработку персональных данных', 'privacy')

				.registrationModal__wrapper
					include ../blocks/modalBtn/modalBtn.pug
					+modalBtn(['white'], 'registrationModal__btn', 'Отправить', 'submit', 'showIcon')

		.modal__footer.modal__footer--mediumText
			p Для отслеживания текущих турниров и автозаполнения полей при регистрации на турнире  
				a(href="#") войдите 
				| в личный кабинет или  
				a(href="#") создайте профиль
