extends ../layouts/main.pug

block variables 
	- var title = 'Карточка игрока'

block content
	article.profile
		.container.container.profile__container
			include ../blocks/backButton/backButton.pug
			+backButton(['absolute'], 'profile__back', 'Вернуться к рейтингу')

			include ../blocks/partnerList/partnerList.pug
			+partnerList([], 'profile__player', 1)

			.profile__wrapper 
				.profile__historyWrapper
					include ../blocks/pageHeading/pageHeading.pug
					+pageHeading(['left', 'small', 'ttc'], 'profile__heading', 'История турниров')

					include ../blocks/_historyFilter/_historyFilter.pug
					+_historyFilter(['withoutBg'], 'profile__filter')
					
				include ../blocks/profileList/profileList.pug
				+profileList([], 'profile__table', 28)

			include ../blocks/scrollUp/scrollUp.pug
			+scrollUp([], 'profile__scrollUp')
