extends ../layouts/main.pug

block variables 
	- var title = 'Название турнира'

block content
	article.tournament
		.container.container.tournament__container
			include ../blocks/pageHeading/pageHeading.pug
			+pageHeading([], 'tournament__heading', 'Название турнира')

			include ../blocks/pairBtns/pairBtns.pug
			+pairBtns([], 'tournament__btns', 'Принять участие', 'Регламенты')
			
			a(href="#").tournament__link Как принять участие?

			.tournament__innerContainer 
				.tournament__wrapper 
					.tournamen__innerWrapper 
						include ../blocks/pageLabels/pageLabels.pug
						+pageLabels([], 'tournament__tabs')

						.tournament__title PUBG 4x4 Pro Squad 
						.tournament__info 
							span Призовой фонд
							p 
								<svg width="43" height="44" viewBox="0 0 43 44" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path opacity="0.5" fill-rule="evenodd" clip-rule="evenodd" d="M21.4998 35.3962C22.1356 35.3962 22.6509 34.8808 22.6509 34.2451V29.6404C22.6509 29.0047 22.1356 28.4893 21.4998 28.4893C20.864 28.4893 20.3486 29.0047 20.3486 29.6404V34.2451C20.3486 34.8808 20.864 35.3962 21.4998 35.3962Z" fill="url(#paint0_linear_1_715)"/>
									<path d="M21.5029 5.0009C24.3074 5.00104 26.6257 5.24812 28.4102 5.54972L28.6162 5.5839C30.1675 5.84336 31.4557 6.05889 32.4639 7.29972C33.1104 8.09572 33.3184 8.95651 33.3662 9.91691L34.1221 10.1689C34.8328 10.4057 35.4559 10.6137 35.9502 10.8437C36.4845 11.0923 36.9744 11.4129 37.3486 11.9325C37.7227 12.4521 37.8717 13.0183 37.9385 13.6034C38.0003 14.1451 38 14.8016 38 15.5497V15.7734C38 16.3895 37.9996 16.934 37.9541 17.3896C37.9049 17.8829 37.7961 18.3633 37.5234 18.8271C37.2504 19.2915 36.8828 19.6206 36.4756 19.9032C36.1025 20.1622 35.6303 20.4253 35.0967 20.7226L31.0303 22.9804C30.2025 24.6089 29.0667 26.0615 27.5029 27.1103C25.8974 28.187 23.913 28.7909 21.502 28.7909H21.501C19.0898 28.7909 17.1046 28.1871 15.499 27.1103C13.9359 26.0619 12.8003 24.6101 11.9727 22.9823L7.95899 20.7538C7.94033 20.7434 7.92184 20.7329 7.90332 20.7226C7.36977 20.4254 6.89753 20.1622 6.52442 19.9032C6.1172 19.6206 5.74966 19.2915 5.47657 18.8271C5.2039 18.3632 5.09514 17.883 5.0459 17.3896C5.00045 16.934 4.99997 16.3895 5 15.7734V15.5497C4.99996 14.8016 4.99974 14.1451 5.06153 13.6034C5.12828 13.0182 5.2773 12.4521 5.65137 11.9325C6.02561 11.4128 6.51544 11.0923 7.04981 10.8437C7.5441 10.6137 8.16716 10.4057 8.87793 10.1689C8.89695 10.1625 8.91641 10.1557 8.93555 10.1493L9.63575 9.91594C9.68372 8.95551 9.89182 8.09552 10.5381 7.3007C11.5447 6.05944 12.8334 5.84319 14.3838 5.5839L14.5908 5.54972L14.5967 5.54875C16.8796 5.17481 19.1896 4.99145 21.5029 5.0009ZM21.4961 7.30265C19.3106 7.2936 17.1275 7.46708 14.9707 7.82023C13.1203 8.13221 12.7328 8.24926 12.3262 8.7509L12.3242 8.75285C11.923 9.24615 11.884 9.71524 11.9678 11.7939C12.1048 15.2612 12.5616 19.0035 13.9775 21.8486C14.6764 23.2528 15.5906 24.3995 16.7813 25.1982C17.9644 25.9917 19.4917 26.4892 21.501 26.4892H21.502C23.5112 26.4892 25.0376 25.9916 26.2207 25.1982C27.4114 24.3996 28.3255 23.2529 29.0244 21.8486C30.4404 19.0035 30.8971 15.2622 31.0342 11.7948C31.1163 9.71467 31.0798 9.24705 30.6777 8.75187C30.2692 8.24889 29.8799 8.13154 28.0273 7.81926C26.3621 7.53777 24.1712 7.30268 21.501 7.30265H21.4961ZM9.66309 12.3339C8.87872 12.5954 8.38222 12.7628 8.02149 12.9306C7.6877 13.0859 7.57966 13.1938 7.51953 13.2773C7.45938 13.3608 7.39144 13.4977 7.34961 13.8642C7.30447 14.26 7.30274 14.7842 7.30274 15.6103V15.7226C7.30274 16.4049 7.30326 16.8335 7.33594 17.1611C7.36606 17.4628 7.41611 17.5837 7.46094 17.6601C7.50556 17.736 7.5869 17.8381 7.83692 18.0116C8.10789 18.1997 8.48214 18.4095 9.0791 18.7421L10.7168 19.6513C10.0602 17.2405 9.79601 14.6601 9.68653 12.3251L9.66309 12.3339ZM33.3145 12.3261C33.205 14.6603 32.9413 17.2394 32.2852 19.6493L33.9199 18.7421C34.517 18.4094 34.8921 18.1997 35.1631 18.0116C35.413 17.8381 35.4944 17.7359 35.5391 17.6601C35.5839 17.5837 35.633 17.4627 35.6631 17.1611C35.6958 16.8335 35.6973 16.405 35.6973 15.7226V15.6103C35.6973 14.7842 35.6955 14.26 35.6504 13.8642C35.6086 13.4977 35.5406 13.3608 35.4805 13.2773C35.4204 13.1938 35.3124 13.086 34.9785 12.9306C34.6178 12.7628 34.1213 12.5954 33.3369 12.3339L33.3145 12.3261Z" fill="url(#paint1_radial_1_715)"/>
									<path d="M20.7372 12.493C21.0504 11.8366 21.9496 11.8366 22.2628 12.4929L22.9985 14.0348C23.1225 14.2947 23.3608 14.475 23.6365 14.5175L25.2721 14.7696C25.9683 14.877 26.2462 15.7675 25.7435 16.2805L24.5626 17.4855C24.3635 17.6886 24.2725 17.9804 24.3189 18.2665L24.594 19.9642C24.7112 20.6869 23.9837 21.2373 23.3598 20.898L21.8943 20.1009C21.6473 19.9665 21.3527 19.9665 21.1057 20.1009L19.6402 20.898C19.0163 21.2373 18.2888 20.6869 18.406 19.9642L18.6811 18.2665C18.7275 17.9804 18.6365 17.6886 18.4374 17.4855L17.2565 16.2805C16.7538 15.7675 17.0317 14.877 17.7279 14.7696L19.3635 14.5175C19.6392 14.475 19.8775 14.2947 20.0015 14.0348L20.7372 12.493Z" fill="url(#paint2_linear_1_715)"/>
									<path fill-rule="evenodd" clip-rule="evenodd" d="M18.1547 32.8613L24.8468 32.8613C25.4675 32.8616 26.0696 33.077 26.5495 33.4707C27.0294 33.8644 27.3581 34.4122 27.4798 35.0208L28.0015 37.6233C28.0693 37.9616 27.9819 38.3124 27.7632 38.5792C27.5446 38.8461 27.2178 39.0008 26.8728 39.0008H16.1287C15.7837 39.0008 15.4569 38.8461 15.2383 38.5792C15.0197 38.3124 14.9322 37.9616 15 37.6233L15.5217 35.0208C15.6435 34.4124 15.9723 33.8643 16.452 33.4707C16.9319 33.077 17.534 32.8616 18.1547 32.8613Z" fill="url(#paint3_linear_1_715)"/>
									<g opacity="0.4" filter="url(#filter0_f_1_715)">
									<path opacity="0.5" fill-rule="evenodd" clip-rule="evenodd" d="M21.5008 35.3961C22.1365 35.3961 22.6519 34.8808 22.6519 34.245V29.6404C22.6519 29.0046 22.1365 28.4892 21.5008 28.4892C20.865 28.4892 20.3496 29.0046 20.3496 29.6404V34.245C20.3496 34.8808 20.865 35.3961 21.5008 35.3961Z" fill="url(#paint4_linear_1_715)"/>
									<path d="M21.5029 5.0009C24.3074 5.00104 26.6257 5.24812 28.4102 5.54972L28.6162 5.5839C30.1675 5.84336 31.4557 6.05889 32.4639 7.29972C33.1104 8.09572 33.3184 8.95651 33.3662 9.91691L34.1221 10.1689C34.8328 10.4057 35.4559 10.6137 35.9502 10.8437C36.4845 11.0923 36.9744 11.4129 37.3486 11.9325C37.7227 12.4521 37.8717 13.0183 37.9385 13.6034C38.0003 14.1451 38 14.8016 38 15.5497V15.7734C38 16.3895 37.9996 16.934 37.9541 17.3896C37.9049 17.8829 37.7961 18.3633 37.5234 18.8271C37.2504 19.2915 36.8828 19.6206 36.4756 19.9032C36.1025 20.1622 35.6303 20.4253 35.0967 20.7226L31.0303 22.9804C30.2025 24.6089 29.0667 26.0615 27.5029 27.1103C25.8974 28.187 23.913 28.7909 21.502 28.7909H21.501C19.0898 28.7909 17.1046 28.1871 15.499 27.1103C13.9359 26.0619 12.8003 24.6101 11.9727 22.9823L7.95899 20.7538C7.94033 20.7434 7.92184 20.7329 7.90332 20.7226C7.36977 20.4254 6.89753 20.1622 6.52442 19.9032C6.1172 19.6206 5.74966 19.2915 5.47657 18.8271C5.2039 18.3632 5.09514 17.883 5.0459 17.3896C5.00045 16.934 4.99997 16.3895 5 15.7734V15.5497C4.99996 14.8016 4.99974 14.1451 5.06153 13.6034C5.12828 13.0182 5.2773 12.4521 5.65137 11.9325C6.02561 11.4128 6.51544 11.0923 7.04981 10.8437C7.5441 10.6137 8.16716 10.4057 8.87793 10.1689C8.89695 10.1625 8.91641 10.1557 8.93555 10.1493L9.63575 9.91594C9.68372 8.95551 9.89182 8.09552 10.5381 7.3007C11.5447 6.05944 12.8334 5.84319 14.3838 5.5839L14.5908 5.54972L14.5967 5.54875C16.8796 5.17481 19.1896 4.99145 21.5029 5.0009ZM21.4961 7.30265C19.3106 7.2936 17.1275 7.46708 14.9707 7.82023C13.1203 8.13221 12.7328 8.24926 12.3262 8.7509L12.3242 8.75285C11.923 9.24615 11.884 9.71524 11.9678 11.7939C12.1048 15.2612 12.5616 19.0035 13.9775 21.8486C14.6764 23.2528 15.5906 24.3995 16.7813 25.1982C17.9644 25.9917 19.4917 26.4892 21.501 26.4892H21.502C23.5112 26.4892 25.0376 25.9916 26.2207 25.1982C27.4114 24.3996 28.3255 23.2529 29.0244 21.8486C30.4404 19.0035 30.8971 15.2622 31.0342 11.7948C31.1163 9.71467 31.0798 9.24705 30.6777 8.75187C30.2692 8.24889 29.8799 8.13154 28.0273 7.81926C26.3621 7.53777 24.1712 7.30268 21.501 7.30265H21.4961ZM9.66309 12.3339C8.87872 12.5954 8.38222 12.7628 8.02149 12.9306C7.6877 13.0859 7.57966 13.1938 7.51953 13.2773C7.45938 13.3608 7.39144 13.4977 7.34961 13.8642C7.30447 14.26 7.30274 14.7842 7.30274 15.6103V15.7226C7.30274 16.4049 7.30326 16.8335 7.33594 17.1611C7.36606 17.4628 7.41611 17.5837 7.46094 17.6601C7.50556 17.736 7.5869 17.8381 7.83692 18.0116C8.10789 18.1997 8.48214 18.4095 9.0791 18.7421L10.7168 19.6513C10.0602 17.2405 9.79601 14.6601 9.68653 12.3251L9.66309 12.3339ZM33.3145 12.3261C33.205 14.6603 32.9413 17.2394 32.2852 19.6493L33.9199 18.7421C34.517 18.4094 34.8921 18.1997 35.1631 18.0116C35.413 17.8381 35.4944 17.7359 35.5391 17.6601C35.5839 17.5837 35.633 17.4627 35.6631 17.1611C35.6958 16.8335 35.6973 16.405 35.6973 15.7226V15.6103C35.6973 14.7842 35.6955 14.26 35.6504 13.8642C35.6086 13.4977 35.5406 13.3608 35.4805 13.2773C35.4204 13.1938 35.3124 13.086 34.9785 12.9306C34.6178 12.7628 34.1213 12.5954 33.3369 12.3339L33.3145 12.3261Z" fill="url(#paint5_radial_1_715)"/>
									<path fill-rule="evenodd" clip-rule="evenodd" d="M18.1547 32.8612L24.8468 32.8612C25.4675 32.8616 26.0696 33.077 26.5495 33.4707C27.0294 33.8644 27.3581 34.4121 27.4798 35.0208L28.0015 37.6233C28.0693 37.9615 27.9819 38.3124 27.7632 38.5792C27.5446 38.846 27.2178 39.0007 26.8728 39.0007H16.1287C15.7837 39.0007 15.4569 38.846 15.2383 38.5792C15.0197 38.3124 14.9322 37.9615 15 37.6233L15.5217 35.0208C15.6435 34.4124 15.9723 33.8642 16.452 33.4707C16.9319 33.077 17.534 32.8616 18.1547 32.8612Z" fill="url(#paint6_linear_1_715)"/>
									<path d="M20.7372 12.4929C21.0504 11.8365 21.9496 11.8365 22.2628 12.4929L22.9985 14.0348C23.1225 14.2947 23.3608 14.475 23.6365 14.5175L25.2721 14.7696C25.9683 14.8769 26.2462 15.7674 25.7435 16.2804L24.5626 17.4855C24.3635 17.6886 24.2725 17.9803 24.3189 18.2665L24.594 19.9642C24.7112 20.6869 23.9837 21.2372 23.3598 20.8979L21.8943 20.1008C21.6473 19.9665 21.3527 19.9665 21.1057 20.1008L19.6402 20.8979C19.0163 21.2372 18.2888 20.6869 18.406 19.9642L18.6811 18.2665C18.7275 17.9803 18.6365 17.6886 18.4374 17.4855L17.2565 16.2804C16.7538 15.7674 17.0317 14.8769 17.7279 14.7696L19.3635 14.5175C19.6392 14.475 19.8775 14.2947 20.0015 14.0348L20.7372 12.4929Z" fill="url(#paint7_linear_1_715)"/>
									</g>
									<defs>
									<filter id="filter0_f_1_715" x="0" y="0.000549316" width="43" height="44.0002" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
									<feFlood flood-opacity="0" result="BackgroundImageFix"/>
									<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
									<feGaussianBlur stdDeviation="2.5" result="effect1_foregroundBlur_1_715"/>
									</filter>
									<linearGradient id="paint0_linear_1_715" x1="21.4998" y1="33.3962" x2="21.4998" y2="26.4893" gradientUnits="userSpaceOnUse">
									<stop stop-color="#FFF566"/>
									<stop offset="0.578338" stop-color="#FFF566" stop-opacity="0.421662"/>
									<stop offset="1" stop-color="#FFF566" stop-opacity="0"/>
									</linearGradient>
									<radialGradient id="paint1_radial_1_715" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(21.0001 9.00047) rotate(90) scale(22.9995 19.3358)">
									<stop stop-color="#FFF566"/>
									<stop offset="0.903846" stop-color="#FFF566" stop-opacity="0"/>
									</radialGradient>
									<linearGradient id="paint2_linear_1_715" x1="20.5" y1="14.5007" x2="18" y2="20.5007" gradientUnits="userSpaceOnUse">
									<stop stop-color="#FFF566"/>
									<stop offset="1" stop-color="#99933D" stop-opacity="0"/>
									</linearGradient>
									<linearGradient id="paint3_linear_1_715" x1="21.5008" y1="39.0004" x2="21.5008" y2="32.8616" gradientUnits="userSpaceOnUse">
									<stop stop-color="#FFF566"/>
									<stop offset="1" stop-color="#252525"/>
									</linearGradient>
									<linearGradient id="paint4_linear_1_715" x1="21.5008" y1="33.3961" x2="21.5008" y2="26.4892" gradientUnits="userSpaceOnUse">
									<stop stop-color="#FFF566"/>
									<stop offset="0.578338" stop-color="#FFF566" stop-opacity="0.421662"/>
									<stop offset="1" stop-color="#FFF566" stop-opacity="0"/>
									</linearGradient>
									<radialGradient id="paint5_radial_1_715" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(21.5 11.0004) rotate(90) scale(17.7905 24.6775)">
									<stop stop-color="#FFF566"/>
									<stop offset="0.903846" stop-color="#FFF566" stop-opacity="0"/>
									</radialGradient>
									<linearGradient id="paint6_linear_1_715" x1="21.5008" y1="39.0004" x2="21.5008" y2="32.8616" gradientUnits="userSpaceOnUse">
									<stop stop-color="#FFF566"/>
									<stop offset="1" stop-color="#252525"/>
									</linearGradient>
									<linearGradient id="paint7_linear_1_715" x1="20.5" y1="14.5006" x2="18" y2="20.5006" gradientUnits="userSpaceOnUse">
									<stop stop-color="#FFF566"/>
									<stop offset="1" stop-color="#99933D" stop-opacity="0"/>
									</linearGradient>
									</defs>
								</svg>
								| 50 000₽
						img(src="./images/tournament-bg.png", alt="")
						.tournament__text
							p Регулярный турнир сети арен COLIZEUM пройдет 11 февраля 2024г. 
							p Участие в турнире допускается из любой арены COLIZEUM. Полный список арен, участвующих в турнире можно найти во вкладке 
								a(href="#") «КЛУБЫ».

					.tournament__bottom 
						span.toirnament__bottomHeading Формат турнира
						span.tournament__bottomLeage Single Elimination, ВО1. Гранд-Финал - ВО3.
						.tournament__bottomDetails 
							p Максимальное количество участников на турнире: 128 команд.
							p Максимальное количество участников на турнире: 128 команд.
							p К участию в каждом турнире допускаются первые 128 команд, которые вступили на турнир на сайте Battlefy и подтвердили своё участие в клубе.



	