
.pageLabels__labels {
	display: flex;
	gap: 10px;
	align-items: center;
}

.pageLabels__label {
	font-weight: 500;
	font-size: 14px;
	line-height: 73%;
	color: $white;
	font-family: $neue;
	background-color: #FFFFFF4D;
	border-radius: 34px;
	padding: 7px 8px;
	display: flex;
	align-items: center;

	&:hover {
		background-color: $black;
		color: yellow;

	}
}

.pageLabels__label--primary {
	background-color: $yellow;
	color: $black;

	&::before {
		width: 4px;
		height: 4px;
		content: '';
		background-color: $black;
		border-radius: 100%;
		margin-right: 3px;
	}
}
