.pageHeading {
	display: block;
	margin: 0 auto 50px;
	text-align: center;
	font-family: $neue;
	font-weight: 700;
	font-size: 40px;
	line-height: 90%;
	text-transform: uppercase;

	@media(min-width: $desktop) {
		font-size: 67px;
	}

	&--ttc {
		font-family: $ttc;
	}

	&--left {
		text-align: left;
	}

	&--small {
		font-size: 45px;
		line-height: 150%;
		margin-bottom: 12px;
	}
}
