mixin header(modificator, extraClasses)
	- classList = 'header'

	if modificator
		each mod in modificator
			- classList = classList + ' header--' + mod

	if extraClasses
		- classList = classList + ' ' + extraClasses

	header(class=classList) 
		.header__container 
			nav.header__menu 
				ul.header__list 
					li.header__item 
						a(href="#").header__link Расписание
					li.header__item 
						a(href="#").header__link Регламенты
					li.header__item 
						a(href="#").header__link Клубы
					li.header__item.header__item--hasSubmenu
						a(href="#").header__link.header__link--hasSubmenu Полезное
							<svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M4.5 7L1 3H8L4.5 7Z" fill="#F5E832"/>
							</svg>
						ul.header__submenu 
							li.header__subitem
								a(href="#").header__sublink какая-то ссылка
							li.header__subitem
								a(href="#").header__sublink какая-то ссылка
							li.header__subitem
								a(href="#").header__sublink какая-то ссылка
			img(src="./images/logo.svg", alt="").headrr__logo
			nav.header__menu 
				ul.header__list
					li.header__item.header__item--hasSubmenu
						a(href="#").header__link.header__link--hasSubmenu Новости
							<svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M4.5 7L1 3H8L4.5 7Z" fill="#F5E832"/>
							</svg>
						ul.header__submenu 
							li.header__subitem
								a(href="#").header__sublink какая-то ссылка
							li.header__subitem
								a(href="#").header__sublink какая-то ссылка
							li.header__subitem
								a(href="#").header__sublink какая-то ссылка
					li.header__item 
							a(href="#").header__link Рейтинг
					li.header__item 
						<svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M1.33601 12.3357L3.50018 10.189C2.66012 9.14156 2.2533 7.81208 2.36337 6.47391C2.47344 5.13575 3.09204 3.89061 4.09196 2.99453C5.09188 2.09845 6.39712 1.61954 7.73931 1.65626C9.08149 1.69299 10.3586 2.24257 11.308 3.19199C12.2574 4.14141 12.807 5.41851 12.8437 6.76069C12.8805 8.10288 12.4015 9.40812 11.5055 10.408C10.6094 11.408 9.36425 12.0266 8.02609 12.1366C6.68792 12.2467 5.35844 11.8399 4.31101 10.9998L2.16434 13.1465C2.11012 13.2012 2.0456 13.2446 1.97451 13.2742C1.90343 13.3038 1.82718 13.319 1.75018 13.319C1.67317 13.319 1.59693 13.3038 1.52584 13.2742C1.45476 13.2446 1.39024 13.2012 1.33601 13.1465C1.23087 13.0377 1.1721 12.8924 1.1721 12.7411C1.1721 12.5898 1.23087 12.4444 1.33601 12.3357ZM7.58351 10.9998C8.39112 10.9998 9.18059 10.7603 9.85209 10.3117C10.5236 9.86298 11.047 9.22525 11.356 8.47911C11.6651 7.73298 11.7459 6.91196 11.5884 6.11987C11.4308 5.32778 11.0419 4.6002 10.4709 4.02914C9.8998 3.45807 9.17222 3.06917 8.38013 2.91162C7.58804 2.75406 6.76702 2.83492 6.02089 3.14398C5.27476 3.45304 4.63703 3.97641 4.18834 4.64791C3.73966 5.31941 3.50018 6.10888 3.50018 6.91649C3.50018 7.99946 3.93039 9.03807 4.69616 9.80384C5.46193 10.5696 6.50054 10.9998 7.58351 10.9998Z" fill="#FFF566"/>
						</svg>
						a(href="#").header__link Найти напарника
					li.header__item 
						a(href="#").header__link 
							<svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
								<foreignObject x="-10" y="-9.9375" width="46.875" height="46.875"><div xmlns="http://www.w3.org/1999/xhtml" style="backdrop-filter:blur(5px);clip-path:url(#bgblur_0_1_21752_clip_path);height:100%;width:100%"></div></foreignObject><g data-figma-bg-blur-radius="10">
								<mask id="path-1-inside-1_1_21752" fill="white">
								<path d="M13.4375 0.0625C20.8588 0.0625 26.875 6.07867 26.875 13.5C26.875 20.9213 20.8588 26.9375 13.4375 26.9375C6.01617 26.9375 0 20.9213 0 13.5C0 6.07867 6.01617 0.0625 13.4375 0.0625Z"/>
								</mask>
								<path d="M13.4375 0.0625C20.8588 0.0625 26.875 6.07867 26.875 13.5C26.875 20.9213 20.8588 26.9375 13.4375 26.9375C6.01617 26.9375 0 20.9213 0 13.5C0 6.07867 6.01617 0.0625 13.4375 0.0625Z" fill="white" fill-opacity="0.15"/>
								<path d="M13.4375 0.0625V1.0625C20.3065 1.0625 25.875 6.63096 25.875 13.5H26.875H27.875C27.875 5.52639 21.4111 -0.9375 13.4375 -0.9375V0.0625ZM26.875 13.5H25.875C25.875 20.369 20.3065 25.9375 13.4375 25.9375V26.9375V27.9375C21.4111 27.9375 27.875 21.4736 27.875 13.5H26.875ZM13.4375 26.9375V25.9375C6.56846 25.9375 1 20.369 1 13.5H0H-1C-1 21.4736 5.46389 27.9375 13.4375 27.9375V26.9375ZM0 13.5H1C1 6.63096 6.56846 1.0625 13.4375 1.0625V0.0625V-0.9375C5.46389 -0.9375 -1 5.52639 -1 13.5H0Z" fill="white" fill-opacity="0.12" mask="url(#path-1-inside-1_1_21752)"/>
								</g>
								<path d="M9.84196 11.1111C9.84196 9.11563 11.4487 7.5 13.4282 7.5C15.4077 7.5 17.0144 9.11563 17.0144 11.1111C17.0144 13.1066 15.4077 14.7222 13.4282 14.7222C11.4487 14.7222 9.84196 13.1066 9.84196 11.1111Z" fill="#F5E832"/>
								<path d="M7.88631 18.8618C10.7641 15.8319 16.0535 15.6669 18.9937 18.8668L19.1954 19.0702C19.3555 19.2316 19.4429 19.4521 19.4372 19.6803C19.4316 19.9085 19.3333 20.1244 19.1653 20.2775C17.6507 21.6581 15.6407 22.5 13.4375 22.5C11.2343 22.5 9.22428 21.6581 7.70971 20.2775C7.54175 20.1244 7.44345 19.9085 7.43776 19.6803C7.43208 19.4521 7.5195 19.2316 7.67963 19.0702L7.88631 18.8618Z" fill="#F5E832"/>
								<defs>
								<clipPath id="bgblur_0_1_21752_clip_path" transform="translate(10 9.9375)"><path d="M13.4375 0.0625C20.8588 0.0625 26.875 6.07867 26.875 13.5C26.875 20.9213 20.8588 26.9375 13.4375 26.9375C6.01617 26.9375 0 20.9213 0 13.5C0 6.07867 6.01617 0.0625 13.4375 0.0625Z"/>
								</clipPath></defs>
							</svg>

