.scrollUp {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px auto 90px;
	width: 50px;
	height: 64px;
	background-color: #343434;
	border-radius: 40px;
	border: none;
	padding: 0;
}
