mixin scrollUp(modificator, extraClasses)
	- classList = 'scrollUp'

	if modificator
		each mod in modificator
			- classList = classList + ' scrollUp--' + mod

	if extraClasses
		- classList = classList + ' ' + extraClasses

	button(type="button" class=classList)
		<svg width="12" height="14" viewBox="0 0 12 14" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path fill-rule="evenodd" clip-rule="evenodd" d="M7.23735 13.9282L7.23735 4.80957L11.2231 8.79537L11.2231 5.29504L6.87488 0.946779L5.9998 0.0716975L5.12472 0.94678L0.776451 5.29505L0.776451 8.79537L4.76225 4.80957L4.76225 13.9282L7.23735 13.9282Z" fill="white"/>
		</svg>
