.filterBtn {
	font-family: $ttc;
	font-weight: 700;
	font-size: 13px;
	line-height: 100%;
	color: $black;
	background-color: $yellow;
	border: none;
	border-radius: 27px;
	padding: 19px 20px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;

	&--wide {
		@media(min-width: $mobileMedium) {
			min-width: 160px;
		}
	}

	&--extra {
		min-width: 176px;
	}
}
