.feedBlock {
	padding: 20px;
	justify-content: space-between;
	border-radius: 35px;
	background-color: #101010;

	@media(min-width: $desktopMedium) {
		display: grid;
		grid-template-columns: 294px 1fr;
		gap: 142px;
	}
}

.feedBlock__date {
	@media(min-width: $desktopMedium) {
		position: sticky;
		top: 0;
	}
}
