.lkAvatarList__list {
	gap: 18px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(95px, 1fr));
	margin-bottom: 40px;

	@media (min-width: $desktop) {
		display: flex;
	}
}

.lkAvatarList__item {
	border-radius: 11px;
	overflow: hidden;
	position: relative;
	width: 95px;
	height: 95px;
}

.lkAvatarList__item:has(.lkAvatarList__radio:checked) {
	outline: 1px solid $yellow;
}

.lkAvatarList__avatar {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.lkAvatarList__item--new {
	border: 2px dashed #FFFFFF33;
	width: 95px;
	height: 95px;
	border-radius: 11px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 25px 12px;
	font-family: $neue;
	font-weight: 500;
	font-size: 11px;
	line-height: 94%;
	color: #7E7E7E;
	text-align: center;
	gap: 15px;

	svg {
		flex-shrink: 0;
	}
}
