html {
	height: 100%;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	min-height: 100%;
	min-width: 320px;
	margin: 0;
	background: url('../images/modal_overlay_top.webp') center top no-repeat, url('../images/body_bg.webp') center left no-repeat;
	background-size: auto auto, auto auto;
	background-color: $black;
	color: $white;
	font-family: $neue;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

button,
input,
textarea {
	font-family: inherit;
}

button {
	cursor: pointer;
}

img {
	max-width: 100%;
	height: auto;
	image-rendering: -webkit-optimize-contrast;
}

iframe {
	max-width: 100%;
}

.sprite {
	display: none;
}
