@include webfont("Helvetica", "Helvetica-400");

@include webfont("Helvetica Neue", "HelveticaNeueCyr-400");
@include webfont("Helvetica Neue", "HelveticaNeueCyr-500", 500);
@include webfont("Helvetica Neue", "HelveticaNeueCyr-700", 700);

@include webfont("Inter", "Inter-500", 500);

@include webfont("TT Squares", "TTSquares-300", 300);
@include webfont("TT Squares", "TTSquares-400");
@include webfont("TT Squares", "TTSquares-700", 700);

@include webfont("TT Squares Condensed", "TTSquaresCondensed-700", 700);
