.news__news {
	margin-top: 50px;
}

.instruction__search {
	margin-top: 30px;
}

.reglaments__reglaments {
	margin-top: 50px;
}

.clubs__mapPreview {
	margin-top: 30px;
}

.clubs__clubs {
	margin-top: 30px;
}
