.news__news {
	margin-top: 50px;
}

.instruction__search {
	margin-top: 30px;
}

.reglaments__reglaments {
	margin-top: 50px;
}

.clubs__mapPreview {
	margin-top: 30px;
}

.clubs__clubs {
	margin-top: 30px;
}

.page__wrapper {
	background: #101010;
	padding: 5px 24px 20px;
	border-radius: 35px;
}

.rating__wrapper {
	display: flex;
	justify-content: space-between;
	gap: 50px;
}

.reviews__loadMore {
	margin: 40px auto 96px;
}

.rating__loadMore {
	margin: 0;
}

.partner__search {
	margin-bottom: 18px;
}

.partner__filter {
	margin-bottom: 18px;
}

.profile__wrapper {
	margin-top: 36px;
	background-color: #101010;
	padding: 30px 10px 14px;
	border-radius: 35px;
}

.profile__filter {
	margin-bottom: 30px;
}

.profile__filter, .profile__heading {
	padding-left: 17px;
	padding-right: 17px;
}

.lk__container {
	display: grid;
	grid-template-columns: 423px 1fr;
	gap: 32px;
	padding-bottom: 52px;
}

.lk__wrapper {
	display: grid;
	gap: 10px;
	align-self: flex-start;
}

.lk__cover {
	padding: 20px 31px 83px;
	background-color: #1D1D1D;
	border-radius: 35px;
}

.lk__heading {
	margin-bottom: 15px;
}

.lk__formBlockHeading {
	margin: 0 0 38px;
	font-family: $neue;
	font-weight: 700;
	font-size: 24px;
	line-height: 100%;
	color: $white;
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.lk__formWrapper {
	display: grid;
    grid-template-columns: 1fr 1fr;
	gap: 19px;
}

.lk__formBlock {
	display: grid;
	gap: 15px;
}

.history__container {
	display: flex;
	gap: 20px;
}

.history__coverBody {
	padding: 30px 11px 14px;
	border-radius: 35px;
	background: #101010;
}
