.backButton {

	&--absolute {
		@media(min-width: $desktopMedium) {
			position: absolute;
			left: 30px;
			top: 90px;
		}
	}
}

.backButton__link {
	display: flex;
	gap: 5px;
	align-items: center;
	color: $yellow;
	font-family: $ttc;
	font-size: 13px;
	font-weight: 700;
	line-height: 110%;
	width: 125px;
	text-transform: uppercase;
	text-decoration: none;

	svg {
		flex-shrink: 0;
		color: $white;
	}

	&:hover {
		svg {
			color: $yellow;
		}
	}
}
