.feedDate {
	display: flex;
	gap: 10px;
	padding: 6px 0;
	align-items: center;
	align-self: flex-start;
	font-family: $ttc;
	font-weight: 700;
	font-size: 30px;
	line-height: 150%;
	text-transform: uppercase;
	color: $white;

	@media(min-width: $desktop) {
		font-size: 45px;
	}

	svg {
		flex-shrink: 0;
	}
}
