mixin feedDate(modificator, extraClasses, date)
	- classList = 'feedDate'

	if modificator
		each mod in modificator
			- classList = classList + ' feedDate--' + mod

	if extraClasses
		- classList = classList + ' ' + extraClasses

	div(class=classList)
		<svg width="40" height="42" viewBox="0 0 40 42" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M12.3147 5.88171C12.3147 5.04674 11.6378 4.36987 10.8029 4.36987C9.96789 4.36987 9.29102 5.04674 9.29102 5.88171V6.5603C9.866 6.37791 10.4786 6.24769 11.1284 6.15324C11.5033 6.09876 11.8985 6.0552 12.3147 6.02039V5.88171Z" fill="#0E0E0E"/>
			<path d="M12.3147 5.88171C12.3147 5.04674 11.6378 4.36987 10.8029 4.36987C9.96789 4.36987 9.29102 5.04674 9.29102 5.88171V6.5603C9.866 6.37791 10.4786 6.24769 11.1284 6.15324C11.5033 6.09876 11.8985 6.0552 12.3147 6.02039V5.88171Z" fill="url(#paint0_linear_1_296)"/>
			<path d="M30.4567 6.5603C29.8817 6.37791 29.2691 6.24769 28.6193 6.15324C28.2445 6.09876 27.8492 6.0552 27.433 6.02039V5.88171C27.433 5.04674 28.1099 4.36987 28.9449 4.36987C29.7798 4.36987 30.4567 5.04674 30.4567 5.88171V6.5603Z" fill="#0E0E0E"/>
			<path d="M30.4567 6.5603C29.8817 6.37791 29.2691 6.24769 28.6193 6.15324C28.2445 6.09876 27.8492 6.0552 27.433 6.02039V5.88171C27.433 5.04674 28.1099 4.36987 28.9449 4.36987C29.7798 4.36987 30.4567 5.04674 30.4567 5.88171V6.5603Z" fill="url(#paint1_linear_1_296)"/>
			<path fill-rule="evenodd" clip-rule="evenodd" d="M21.4296 5.88135H18.3189C15.3734 5.8813 12.9976 5.88126 11.1288 6.15288C9.17856 6.43635 7.56309 7.04216 6.295 8.41307C5.0424 9.76723 4.50312 11.4641 4.24818 13.5141C3.99995 15.5101 3.99997 18.0578 4 21.2626V22.2487C3.99997 25.4535 3.99995 28.0011 4.24818 29.9972C4.50312 32.0471 5.0424 33.744 6.295 35.0982C7.56309 36.4691 9.17856 37.0749 11.1288 37.3584C12.9976 37.63 15.3734 37.6299 18.3189 37.6299H21.4296C24.3751 37.6299 26.751 37.63 28.6197 37.3584C30.57 37.0749 32.1854 36.4691 33.4535 35.0982C34.7061 33.744 35.2454 32.0471 35.5004 29.9972C35.7486 28.0011 35.7486 25.4534 35.7485 22.2486V21.2626C35.7486 18.0578 35.7486 15.5101 35.5004 13.5141C35.2454 11.4641 34.7061 9.76723 33.4535 8.41307C32.1854 7.04216 30.57 6.43635 28.6197 6.15288C26.751 5.88126 24.3751 5.8813 21.4296 5.88135ZM8.53222 16.4642C7.83886 16.4642 7.49218 16.4642 7.27139 16.6821C7.05059 16.9001 7.04616 17.2424 7.03728 17.9269C7.02408 18.9446 7.02367 20.0838 7.02367 21.3674V22.1438C7.02367 25.4772 7.02643 27.8364 7.24874 29.624C7.46705 31.3794 7.87427 32.3526 8.51467 33.045C9.13957 33.7205 9.99397 34.138 11.5637 34.3661C13.1898 34.6025 15.3452 34.6062 18.438 34.6062H21.3105C24.4033 34.6062 26.5587 34.6025 28.1848 34.3661C29.7546 34.138 30.609 33.7205 31.2339 33.045C31.8743 32.3526 32.2815 31.3794 32.4998 29.624C32.7221 27.8364 32.7249 25.4772 32.7249 22.1438V21.3674C32.7249 20.0838 32.7245 18.9446 32.7113 17.9269C32.7024 17.2424 32.698 16.9001 32.4772 16.6821C32.2564 16.4642 31.9097 16.4642 31.2163 16.4642H8.53222Z" fill="url(#paint2_radial_1_296)"/>
			<path d="M17.4658 28.559C17.4658 27.5153 18.3119 26.6692 19.3556 26.6692H19.3692C20.4129 26.6692 21.259 27.5153 21.259 28.559C21.259 29.6027 20.4129 30.4488 19.3692 30.4488H19.3556C18.3119 30.4488 17.4658 29.6027 17.4658 28.559Z" fill="url(#paint3_linear_1_296)"/>
			<path d="M11.7959 28.559C11.7959 27.5153 12.642 26.6692 13.6857 26.6692H13.6993C14.743 26.6692 15.5891 27.5153 15.5891 28.559C15.5891 29.6027 14.743 30.4488 13.6993 30.4488H13.6857C12.642 30.4488 11.7959 29.6027 11.7959 28.559Z" fill="url(#paint4_linear_1_296)"/>
			<path d="M11.7959 22.5607C11.7959 21.517 12.642 20.6709 13.6857 20.6709H13.6993C14.743 20.6709 15.5891 21.517 15.5891 22.5607C15.5891 23.6044 14.743 24.4505 13.6993 24.4505H13.6857C12.642 24.4505 11.7959 23.6044 11.7959 22.5607Z" fill="url(#paint5_linear_1_296)"/>
			<path d="M17.4658 22.5607C17.4658 21.517 18.3119 20.6709 19.3556 20.6709H19.3692C20.4129 20.6709 21.259 21.517 21.259 22.5607C21.259 23.6044 20.4129 24.4505 19.3692 24.4505H19.3556C18.3119 24.4505 17.4658 23.6044 17.4658 22.5607Z" fill="url(#paint6_linear_1_296)"/>
			<path d="M23.1357 22.5607C23.1357 21.517 23.9818 20.6709 25.0255 20.6709H25.0391C26.0828 20.6709 26.9289 21.517 26.9289 22.5607C26.9289 23.6044 26.0828 24.4505 25.0391 24.4505H25.0255C23.9818 24.4505 23.1357 23.6044 23.1357 22.5607Z" fill="url(#paint7_linear_1_296)"/>
			<g opacity="0.47" filter="url(#filter0_f_1_296)">
			<path d="M12.3147 5.88171C12.3147 5.04674 11.6378 4.36987 10.8029 4.36987C9.96789 4.36987 9.29102 5.04674 9.29102 5.88171V6.5603C9.866 6.37791 10.4786 6.24769 11.1284 6.15324C11.5033 6.09876 11.8985 6.0552 12.3147 6.02039V5.88171Z" fill="#0E0E0E"/>
			<path d="M12.3147 5.88171C12.3147 5.04674 11.6378 4.36987 10.8029 4.36987C9.96789 4.36987 9.29102 5.04674 9.29102 5.88171V6.5603C9.866 6.37791 10.4786 6.24769 11.1284 6.15324C11.5033 6.09876 11.8985 6.0552 12.3147 6.02039V5.88171Z" fill="url(#paint8_linear_1_296)"/>
			<path d="M30.4567 6.5603C29.8817 6.37791 29.2691 6.24769 28.6193 6.15324C28.2445 6.09876 27.8492 6.0552 27.433 6.02039V5.88171C27.433 5.04674 28.1099 4.36987 28.9449 4.36987C29.7798 4.36987 30.4567 5.04674 30.4567 5.88171V6.5603Z" fill="#0E0E0E"/>
			<path d="M30.4567 6.5603C29.8817 6.37791 29.2691 6.24769 28.6193 6.15324C28.2445 6.09876 27.8492 6.0552 27.433 6.02039V5.88171C27.433 5.04674 28.1099 4.36987 28.9449 4.36987C29.7798 4.36987 30.4567 5.04674 30.4567 5.88171V6.5603Z" fill="url(#paint9_linear_1_296)"/>
			<path fill-rule="evenodd" clip-rule="evenodd" d="M21.4296 5.88135H18.3189C15.3734 5.8813 12.9976 5.88126 11.1288 6.15288C9.17856 6.43635 7.56309 7.04216 6.295 8.41307C5.0424 9.76723 4.50312 11.4641 4.24818 13.5141C3.99995 15.5101 3.99997 18.0578 4 21.2626V22.2487C3.99997 25.4535 3.99995 28.0011 4.24818 29.9972C4.50312 32.0471 5.0424 33.744 6.295 35.0982C7.56309 36.4691 9.17856 37.0749 11.1288 37.3584C12.9976 37.63 15.3734 37.6299 18.3189 37.6299H21.4296C24.3751 37.6299 26.751 37.63 28.6197 37.3584C30.57 37.0749 32.1854 36.4691 33.4535 35.0982C34.7061 33.744 35.2454 32.0471 35.5004 29.9972C35.7486 28.0011 35.7486 25.4534 35.7485 22.2486V21.2626C35.7486 18.0578 35.7486 15.5101 35.5004 13.5141C35.2454 11.4641 34.7061 9.76723 33.4535 8.41307C32.1854 7.04216 30.57 6.43635 28.6197 6.15288C26.751 5.88126 24.3751 5.8813 21.4296 5.88135ZM8.53222 16.4642C7.83886 16.4642 7.49218 16.4642 7.27139 16.6821C7.05059 16.9001 7.04616 17.2424 7.03728 17.9269C7.02408 18.9446 7.02367 20.0838 7.02367 21.3674V22.1438C7.02367 25.4772 7.02643 27.8364 7.24874 29.624C7.46705 31.3794 7.87427 32.3526 8.51467 33.045C9.13957 33.7205 9.99397 34.138 11.5637 34.3661C13.1898 34.6025 15.3452 34.6062 18.438 34.6062H21.3105C24.4033 34.6062 26.5587 34.6025 28.1848 34.3661C29.7546 34.138 30.609 33.7205 31.2339 33.045C31.8743 32.3526 32.2815 31.3794 32.4998 29.624C32.7221 27.8364 32.7249 25.4772 32.7249 22.1438V21.3674C32.7249 20.0838 32.7245 18.9446 32.7113 17.9269C32.7024 17.2424 32.698 16.9001 32.4772 16.6821C32.2564 16.4642 31.9097 16.4642 31.2163 16.4642H8.53222Z" fill="url(#paint10_radial_1_296)"/>
			<path d="M17.4658 28.559C17.4658 27.5153 18.3119 26.6692 19.3556 26.6692H19.3692C20.4129 26.6692 21.259 27.5153 21.259 28.559C21.259 29.6027 20.4129 30.4488 19.3692 30.4488H19.3556C18.3119 30.4488 17.4658 29.6027 17.4658 28.559Z" fill="url(#paint11_linear_1_296)"/>
			<path d="M11.7959 28.559C11.7959 27.5153 12.642 26.6692 13.6857 26.6692H13.6993C14.743 26.6692 15.5891 27.5153 15.5891 28.559C15.5891 29.6027 14.743 30.4488 13.6993 30.4488H13.6857C12.642 30.4488 11.7959 29.6027 11.7959 28.559Z" fill="url(#paint12_linear_1_296)"/>
			<path d="M11.7959 22.5607C11.7959 21.517 12.642 20.6709 13.6857 20.6709H13.6993C14.743 20.6709 15.5891 21.517 15.5891 22.5607C15.5891 23.6044 14.743 24.4505 13.6993 24.4505H13.6857C12.642 24.4505 11.7959 23.6044 11.7959 22.5607Z" fill="url(#paint13_linear_1_296)"/>
			<path d="M17.4658 22.5607C17.4658 21.517 18.3119 20.6709 19.3556 20.6709H19.3692C20.4129 20.6709 21.259 21.517 21.259 22.5607C21.259 23.6044 20.4129 24.4505 19.3692 24.4505H19.3556C18.3119 24.4505 17.4658 23.6044 17.4658 22.5607Z" fill="url(#paint14_linear_1_296)"/>
			<path d="M23.1357 22.5607C23.1357 21.517 23.9818 20.6709 25.0255 20.6709H25.0391C26.0828 20.6709 26.9289 21.517 26.9289 22.5607C26.9289 23.6044 26.0828 24.4505 25.0391 24.4505H25.0255C23.9818 24.4505 23.1357 23.6044 23.1357 22.5607Z" fill="url(#paint15_linear_1_296)"/>
			</g>
			<defs>
			<filter id="filter0_f_1_296" x="0.456273" y="0.826146" width="38.8365" height="40.3475" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
			<feFlood flood-opacity="0" result="BackgroundImageFix"/>
			<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
			<feGaussianBlur stdDeviation="1.77186" result="effect1_foregroundBlur_1_296"/>
			</filter>
			<linearGradient id="paint0_linear_1_296" x1="19.8739" y1="5.00414" x2="19.8739" y2="7.19457" gradientUnits="userSpaceOnUse">
			<stop stop-color="#FFEE00"/>
			<stop offset="0.225962" stop-color="#FFF566"/>
			<stop offset="0.578338" stop-color="#FFF566" stop-opacity="0.421662"/>
			<stop offset="1" stop-color="#FFF566" stop-opacity="0"/>
			</linearGradient>
			<linearGradient id="paint1_linear_1_296" x1="19.8739" y1="5.00414" x2="19.8739" y2="7.19457" gradientUnits="userSpaceOnUse">
			<stop stop-color="#FFEE00"/>
			<stop offset="0.225962" stop-color="#FFF566"/>
			<stop offset="0.578338" stop-color="#FFF566" stop-opacity="0.421662"/>
			<stop offset="1" stop-color="#FFF566" stop-opacity="0"/>
			</linearGradient>
			<radialGradient id="paint2_radial_1_296" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(19.8743 13.8882) rotate(90.5687) scale(28.4006 28.4006)">
			<stop stop-color="#FFF566"/>
			<stop offset="0.903846" stop-color="#FFF566" stop-opacity="0"/>
			</radialGradient>
			<linearGradient id="paint3_linear_1_296" x1="20.1433" y1="26.6953" x2="17.8963" y2="30.2445" gradientUnits="userSpaceOnUse">
			<stop stop-color="#FFF566"/>
			<stop offset="0.889423" stop-color="#99933D" stop-opacity="0"/>
			</linearGradient>
			<linearGradient id="paint4_linear_1_296" x1="14.4734" y1="26.6953" x2="12.2264" y2="30.2445" gradientUnits="userSpaceOnUse">
			<stop stop-color="#FFF566"/>
			<stop offset="0.889423" stop-color="#99933D" stop-opacity="0"/>
			</linearGradient>
			<linearGradient id="paint5_linear_1_296" x1="14.4734" y1="20.697" x2="12.2264" y2="24.2462" gradientUnits="userSpaceOnUse">
			<stop stop-color="#FFF566"/>
			<stop offset="0.889423" stop-color="#99933D" stop-opacity="0"/>
			</linearGradient>
			<linearGradient id="paint6_linear_1_296" x1="20.1433" y1="20.697" x2="17.8963" y2="24.2462" gradientUnits="userSpaceOnUse">
			<stop stop-color="#FFF566"/>
			<stop offset="0.889423" stop-color="#99933D" stop-opacity="0"/>
			</linearGradient>
			<linearGradient id="paint7_linear_1_296" x1="25.8133" y1="20.697" x2="23.5662" y2="24.2462" gradientUnits="userSpaceOnUse">
			<stop stop-color="#FFF566"/>
			<stop offset="0.889423" stop-color="#99933D" stop-opacity="0"/>
			</linearGradient>
			<linearGradient id="paint8_linear_1_296" x1="19.8739" y1="5.00414" x2="19.8739" y2="7.19457" gradientUnits="userSpaceOnUse">
			<stop stop-color="#FFF566"/>
			<stop offset="0.578338" stop-color="#FFF566" stop-opacity="0.421662"/>
			<stop offset="1" stop-color="#FFF566" stop-opacity="0"/>
			</linearGradient>
			<linearGradient id="paint9_linear_1_296" x1="19.8739" y1="5.00414" x2="19.8739" y2="7.19457" gradientUnits="userSpaceOnUse">
			<stop stop-color="#FFF566"/>
			<stop offset="0.578338" stop-color="#FFF566" stop-opacity="0.421662"/>
			<stop offset="1" stop-color="#FFF566" stop-opacity="0"/>
			</linearGradient>
			<radialGradient id="paint10_radial_1_296" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(19.8743 13.8882) rotate(90.5687) scale(28.4006 28.4006)">
			<stop stop-color="#FFF566"/>
			<stop offset="0.903846" stop-color="#FFF566" stop-opacity="0"/>
			</radialGradient>
			<linearGradient id="paint11_linear_1_296" x1="20.1433" y1="26.6953" x2="17.8963" y2="30.2445" gradientUnits="userSpaceOnUse">
			<stop stop-color="#FFF566"/>
			<stop offset="1" stop-color="#99933D" stop-opacity="0"/>
			</linearGradient>
			<linearGradient id="paint12_linear_1_296" x1="14.4734" y1="26.6953" x2="12.2264" y2="30.2445" gradientUnits="userSpaceOnUse">
			<stop stop-color="#FFF566"/>
			<stop offset="1" stop-color="#99933D" stop-opacity="0"/>
			</linearGradient>
			<linearGradient id="paint13_linear_1_296" x1="14.4734" y1="20.697" x2="12.2264" y2="24.2462" gradientUnits="userSpaceOnUse">
			<stop stop-color="#FFF566"/>
			<stop offset="1" stop-color="#99933D" stop-opacity="0"/>
			</linearGradient>
			<linearGradient id="paint14_linear_1_296" x1="20.1433" y1="20.697" x2="17.8963" y2="24.2462" gradientUnits="userSpaceOnUse">
			<stop stop-color="#FFF566"/>
			<stop offset="1" stop-color="#99933D" stop-opacity="0"/>
			</linearGradient>
			<linearGradient id="paint15_linear_1_296" x1="25.8133" y1="20.697" x2="23.5662" y2="24.2462" gradientUnits="userSpaceOnUse">
			<stop stop-color="#FFF566"/>
			<stop offset="1" stop-color="#99933D" stop-opacity="0"/>
			</linearGradient>
			</defs>
		</svg>

		| #{date}
