mixin material(modificator, extraClasses)
	- classList = 'material'

	if modificator
		each mod in modificator
			- classList = classList + ' material--' + mod

	if extraClasses
		- classList = classList + ' ' + extraClasses

	div(class=classList)
		.material__wrapper 
			img.material__img(src="https://placehold.jp/1138x432.png", alt="")
			span.material__date 12 Января 2025
			h1.material__title Virtus.pro стала чемпионом PUBG Players Tour Masters: EMEA
		.material__content 
			p Завершился престижный чемпионат PUBG Global Championship 2024 по игре PUBG BATTLEGROUNDS с призовым фондом $ 1,5 млн.
			p По итогам гранд-финала чемпионом соревнования стала вьетнамская команда The Expendables, опередившая ближайших преследователей всего на два очка. Звание лучшего игрока турнира получил представитель чемпионского ростера Нгуен Clories Лонг Хао.
			p 
				img(src="https://placehold.jp/636x380.png", alt="")
			p Продолжим о фейках? Знаю, что вы любите эту тему. Заходит как-то ко мне мужик и спрашивает: «а какое основание для политического убежища мне выбрать?» Отличный заход. Откровенность — оценил, наивности — огорчился.
			p Ну, если ты реальный гей или представитель редкой религии, которую в православной России не приветствуют, тогда всё ясно — там одобрений выше 95%. Особенно по ЛГБТ. Но если попытаться ПРИКИНУТЬСЯ, может случиться неприятнейший казус. Нет, никто не полезет проверять интимные фотографии, действуют куда тоньше.
			p Расскажу пару случаев. Это не анекдоты, а реальные события из практики.
			p Приезжают как-то два белоруса в Бруклин: мол, мы в США по турвизе, но хотим остаться. Им рассказали, что проще всего получить политику, если ты гей. Не вопрос — парни через месяц заключают брак, целуются взасос на камеру. Были два друга, стали жених и жених.
			p А дальше сочиняют историю, как их дома унижали на каждом шагу. Приходят с этим к офицеру, а тот смотрит в глаза и спрашивает: «а приложением HORNET вы пользовались?». Парни тут же и потерялись. А ведь геи должны знать об этом приложении, потому что это гейский вариант Тиндера. Офицер насторожился, задал ещё десяток наводящих вопросов и со спокойной душой влепил отказ. Наивным Грин-карты не дают.
			p Второй случай — мужчина 47 лет, тоже белорус. Лысоватый “бык” под 2 метра, дальнобойщик, пятеро детей, старший сын с бородой. Не знаю, кто его надоумил, но в истории он написал, что до 40 лет был убежденным натуралом, пока однажды, вылезая из кабины грузовика, не упал головой об асфальт — и после этого стал геем! Подозреваю, в New York Asylum Office так хохотали, что слышно было и на Манхэттене, и за Гудзоном, а то и в родном Минске.
			blockquote Теперь мой любимый прикол. Муж, жена, дети 18 и 9 лет. Косят под свидетелей Иеговы, их как раз тогда в РФ объявили экстремистами. Решили хорошенько подготовиться. Пока собирали и подавали кейс, записались в местный Зал Царств, учили наизусть талмуды, раздавали всякие там сторожевые башни. На интервью оделись скромно, аскетично.
			p Собеседование прошло гладко, но офицер по загадочным причинам спросил у младшей дочери, как она отпраздновала Новый год. Ребёнок честно и с восторгом рассказал про Деда Мороза, оливье, салюты и папу, который танцевал на столе в обнимку с бутылкой шампанского и соседом. А офицеру только этого и надо — настоящие Свидетели Иеговы Новый год не отмечают. Гудбай, Америка, о, где я не буду никогда...
			p Помните, я начал пост с мужика, который зашел спросить, что ему выбрать? Я хотел его сначала за дверь выставить, а потом решил — почему бы не пообщаться, раз уже пришел. И что вы думаете? Оказалось, что у него были серьезные основания для убежища, которые мы выудили, просто полистав его соцсети. Одни репосты «Лутин — пох» чего стоят. Месяц назад он получил Грин-карту.
			p Так что не спешите врать: вдруг у вас есть нормальный законный путь. Всё, бай!
