.material__wrapper {
	position: relative;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	gap: 33px;
	margin: 0 -19px;
	overflow: hidden;

	&::before {
		background: linear-gradient(
			180deg,
			rgba(16, 16, 16, 0) 0%,
			#101010 81.51%
		);
		content: "";
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		position: absolute;
	}
}

.material__date {
	font-weight: 500;
	font-size: 14px;
	line-height: 73%;
	font-family: $neue;
	color: $white;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 34px;
	padding: 7px 6px;
	grid-row: 1/2;
	grid-column: 1/2;
	margin: 33px 20px;
	position: relative;
	justify-self: start;
	z-index: 2;
}

.material__img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	grid-row: 1/-1;
	grid-column: 1/2;
}

.material__title {
	font-family: $neue;
	font-weight: 700;
	font-size: 44px;
	line-height: 105%;
	color: $yellow;
	margin: 0 20px 11px;
	grid-row: 3/4;
	grid-column: 1/2;
	z-index: 2;
	position: relative;
}

.material__content {
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: $white;
	font-family: $neue;

	p,
	ul,
	ol,
	blockquote {
		margin: 30px 0;
	}

	blockquote {
		background-color: #171717;
		padding: 26px 22px;
		border-radius: 25px;
		margin-left: 0;
	}

	img {
		border-radius: 20px;
	}
}
