.footer {
	display: block;
}

.footer__container {
	padding: 20px;
	display: grid;
	align-items: center;

	@media (min-width: $desktop) {
		padding: 71px 30px 8px;
		justify-content: space-between;
	}
}

.footer__wrapper {
	text-align: center;
	@media (min-width: $desktop) {
		text-align: left;
	}
}

.footer__copyright {
	text-decoration: none;
	color: #FFFFFF99;
	font-family: $helvetica;
	font-weight: 400;
	font-size: 10px;
	line-height: 131%;
	display: block;
}

.footer__cover {
	display: grid;
	gap: 20px;
	@media (min-width: $desktop) {
		display: flex;
		justify-content: space-between;
		margin-bottom: 114px;
		gap: 40px;
	}
}

.footer__menu {
	display: grid;
	gap: 20px;
	justify-content: center;
	text-align: center;
	@media (min-width: $desktop) {
		text-align: left;
	}
	@media (min-width: $desktop) {
		display: flex;
		gap: 121px;
		justify-content: space-between;
	}
}

.footer__item {
	font-family: $tt;
	font-weight: 300;
	font-size: 14px;
	line-height: 97%;
	color: $yellow;
	text-transform: uppercase;

	& + & {
		margin-top: 30px;
		@media (min-width: $desktop) {
			margin-top: 0;
		}
	}
}

.footer__list {
	list-style-type: none;
	padding: 0;
	margin: 10px 0 0;
	display: grid;
	gap: 10px;
	text-align: center;
	justify-content: center;
	@media (min-width: $desktop) {
		gap: 30px;
		margin-top: 40px;
	}

	&--columns {
		@media (min-width: $desktop) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 30px 135px;
			text-align: left;
		}
	}
}

.footer__link{
	font-family: $neue;
	font-weight: 500;
	font-size: 13px;
	line-height: 150%;
	color: $white;
	text-decoration: none;
}

.footer__subitem {
	display: flex;
	justify-content: center;
	text-align: center;
	gap: 5px;
	text-transform: none;
	@media (min-width: $desktop) {
		justify-content: flex-start;
		text-align: left;
	}

	svg {
		flex-shrink: 0;
	}
}

.footer__bottom {
	@media (min-width: $desktop) {
		margin-top: 7px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.footer__bottomLink {
	font-family: $helvetica;
	font-weight: 400;
	font-size: 10px;
	line-height: 131%;
	color: #999999;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3px;

	span {
		color: $white;
	}
}

.footer__colizeum {
	display: block;
	margin: 40px 0 20px;

	@media(min-width: $desktop) {
		margin-top: 0;
	}
}

