.modalField__wrapper {
	display: grid;
	gap: 15px;
	margin: 0 auto;
}

.modalField__label {
	font-family: $neue;
	font-weight: 500;
	font-size: 14px;
	line-height: 150%;
	color: $white;

	span {
		color: $yellow;
	}
}

.modalField__input {
	padding: 15px;
	min-height: 50px;
	background-color: $black;
	border-radius: 12px;
	border: none;
	color: $white;
	font-size: 20px;

	&--error {
		outline: 1px solid #FF0000;
	}
}
