mixin _historyFilter(modificator, extraClasses)
	- classList = 'filter'

	if modificator
		each mod in modificator
			- classList = classList + ' filter--' + mod

	if extraClasses
		- classList = classList + ' ' + extraClasses

	div(class=classList) 
		.form__part.form__part--flex
			include ../filterSelect/filterSelect.pug
			- 
				var selects = [
					{
						'id': 'select1',
						'name': 'select1',
						'defaultOption': 'За все время',
						'options': ['Опция 1', 'Опция 2', 'Опция 3']
					},
					{
						'id': 'select2',
						'name': 'select2',
						'defaultOption': 'Все дисциплины',
						'options': ['Опция 1', 'Опция 2', 'Опция 3']
					}
				]

			for i in selects
				+filterSelect(['w355'], 'filter__select', i)


		