.modalCodeField {
	position: relative;

	&:focus-within::before {
		content: '';
		position: absolute;
		width: 38px;
		height: 2px;
		bottom: 14px;
		left: 50%;
		transform: translateX(-50%);
		background-color: $black;
		animation: modalCodeAnimation 1s steps(5, start) infinite;
	}
}

@keyframes modalCodeAnimation {
	to {
		visibility: hidden;
	}
}

.modalCode__input {
	width: 51px;
	height: 56px;
	background-color: $black;
	border-radius: 12px;
	color: $yellow;
	border: none;
	caret-color: transparent;
	text-align: center;
	padding: 0;
	font-size: 28px;

	&:focus {
		background-color: $yellow;
		outline: none;
		color: $black;
	}
}
