.reglamentsList__list {
	display: grid;
	gap: 17px 19px;

	@media(min-width: $tablet) {
		grid-template-columns: 1fr 1fr;
	}
}

.reglamentsList__link {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	font-family: $neue;
	font-weight: 700;
	font-size: 24px;
	line-height: 100%;
	color: $white;
	text-decoration: none;
	padding: 25px;
	background-color: #1d1d1d;
	border-radius: 25px;

	svg {
		flex-shrink: 0;
	}

	&:hover svg {
		color: $yellow;
	}
}
