mixin mapPreview(modificator, extraClasses)
	- classList = 'mapPreview'

	if modificator
		each mod in modificator
			- classList = classList + ' mapPreview--' + mod

	if extraClasses
		- classList = classList + ' ' + extraClasses

	div(class=classList)
		img(src="https://placehold.jp/1380x203.png", alt="").mapPreview__preview
		button(type='button').mapPreview__btn Показать на карте ближайшие
			<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M8.47822 0V1.16114C9.82525 1.36953 11.0709 2.00142 12.0348 2.96524C12.9986 3.92906 13.6305 5.17475 13.8389 6.52178H15V8.47822H13.8389C13.6305 9.82525 12.9986 11.0709 12.0348 12.0348C11.0709 12.9986 9.82525 13.6305 8.47822 13.8389V15H6.52178V13.8389C5.17475 13.6305 3.92906 12.9986 2.96524 12.0348C2.00142 11.0709 1.36953 9.82525 1.16114 8.47822H0V6.52178H1.16114C1.36953 5.17475 2.00142 3.92906 2.96524 2.96524C3.92906 2.00142 5.17475 1.36953 6.52178 1.16114V0H8.47822ZM7.5 3.04324C6.91473 3.04324 6.33519 3.15851 5.79447 3.38249C5.25375 3.60646 4.76244 3.93474 4.34859 4.34859C3.93474 4.76244 3.60646 5.25375 3.38249 5.79447C3.15851 6.33519 3.04324 6.91473 3.04324 7.5C3.04324 8.08527 3.15851 8.66481 3.38249 9.20553C3.60646 9.74625 3.93474 10.2376 4.34859 10.6514C4.76244 11.0653 5.25375 11.3935 5.79447 11.6175C6.33519 11.8415 6.91473 11.9568 7.5 11.9568C8.68201 11.9568 9.8156 11.4872 10.6514 10.6514C11.4872 9.8156 11.9568 8.68201 11.9568 7.5C11.9568 6.31799 11.4872 5.1844 10.6514 4.34859C9.8156 3.51279 8.68201 3.04324 7.5 3.04324ZM7.5 7.39142C7.48574 7.39142 7.47162 7.39423 7.45845 7.39968C7.44527 7.40514 7.4333 7.41314 7.42322 7.42322C7.41314 7.4333 7.40514 7.44527 7.39968 7.45845C7.39423 7.47162 7.39142 7.48574 7.39142 7.5C7.39142 7.51426 7.39423 7.52838 7.39968 7.54155C7.40514 7.55473 7.41314 7.5667 7.42322 7.57678C7.4333 7.58686 7.44527 7.59486 7.45845 7.60032C7.47162 7.60577 7.48574 7.60858 7.5 7.60858C7.5288 7.60858 7.55642 7.59714 7.57678 7.57678C7.59714 7.55642 7.60858 7.5288 7.60858 7.5C7.60858 7.4712 7.59714 7.44358 7.57678 7.42322C7.55642 7.40286 7.5288 7.39142 7.5 7.39142ZM5.43498 7.5C5.43498 6.95232 5.65254 6.42708 6.03981 6.03981C6.42708 5.65254 6.95232 5.43498 7.5 5.43498C8.04768 5.43498 8.57292 5.65254 8.96019 6.03981C9.34746 6.42708 9.56502 6.95232 9.56502 7.5C9.56502 8.04768 9.34746 8.57292 8.96019 8.96019C8.57292 9.34746 8.04768 9.56502 7.5 9.56502C6.95232 9.56502 6.42708 9.34746 6.03981 8.96019C5.65254 8.57292 5.43498 8.04768 5.43498 7.5Z" fill="black"/>
			</svg>

