.mapPreview {
	position: relative;
}

.mapPreview__btn {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: $ttc;
	font-weight: 700;
	font-size: 13px;
	line-height: 150%;
	text-transform: uppercase;
	background-color: $yellow;
	border-radius: 26px;
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;
	padding: 14px 15px;
	border: none;
	text-decoration: none;
	color: $black;
}

.mapPreview__preview {
	border: 4px solid #101010;
	border-radius: 20px;
	height: 203px;
	object-fit: cover;
	display: block;
}
