.videoList__list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));

	@media(min-width: $desktop) {
		grid-template-columns: 1fr 1fr;
		gap: 20px;
	}
}

.videoList__item {
	padding: 5px;
	background-color: #1d1d1d;
	border-radius: 25px;
}

.videoList__preview {
	border-radius: 20px;
	width: 100%;
}

.videoList__itemTitle {
	margin: 15px auto 15px;
	padding: 0 15px;
	font-weight: 700;
	font-size: 20px;
	line-height: 100%;
}
